.venv
*venv*
**/*venv*/**
.task
.mypy_cache
__pycache__
**/__pycache__/**
.env
storage.log
.git
.gitignore
third_party/googleapis
*.md
README.md
Taskfile.yml
cmd/
internal/
proto/
go.mod
go.sum
main.py
