certifi==2026.4.22
charset-normalizer==3.4.7
filelock==3.29.0
fsspec==2026.4.0
grpcio==1.80.0
grpcio-tools==1.80.0
hf-xet==1.4.3
huggingface_hub==0.36.2
idna==3.13
Jinja2==3.1.6
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
mypy-protobuf==5.1.0
packaging==26.2
pillow==12.2.0
protobuf==6.33.6
Pygments==2.20.0
python-dotenv==1.2.2
PyYAML==6.0.3
requests==2.33.1
rich==15.0.0
setuptools==82.0.1
smolagents==1.24.0
tqdm==4.67.3
types-protobuf==7.34.1.20260503
typing_extensions==4.15.0
urllib3==2.6.3
